# Verification

**Properties**

| Name   | Type | Required | Description |
| :----- | :--- | :------- | :---------- |
| type\_ | str  | ❌       |             |
| value  | str  | ❌       |             |
